body {
    background-image: url('GGbackgroundimage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  img#logo-image {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }
