body {
    background-image: url('GGbackgroundimage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  img#logo-image {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }

  #space-image {
    max-width: 60%;
    display: block;
    position: absolute;
    top: 20%;
    left: 40%;
    height: auto;
  }

  #picture-dates-list {
    display: flex;
    position: absolute;
    top: 10%;
    left: 60%;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    background-color: rgba(53, 51, 51, 0.507);
    border-style: solid;
    border-color: rgba(218, 112, 214, 0.719);
    cursor: pointer;
  }

  #picture-dates-list li {
    color: white;
    font-size: 30px;
  }

  /* #picture-dates-list li img {
    max-width: 200px;
    max-height: 100px;
  } */