body {
    background-image: url('GGbackgroundimage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  img#logo-image {
    max-width: 100%;
    height: auto;
    width: auto\9;
  }

  #space-image {
    max-width: 60%;
    max-height: 80%;
    display: block;
    position: absolute;
    top: 20%;
    left: 40%;
    height: auto;
  }

  #picture-dates-list {
    display: flex;
    position: absolute;
    top: 10%;
    left: 60%;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    background-color: rgba(53, 51, 51, 0.507);
    cursor: pointer;
  }

  #picture-dates-list li {
    color: white;
    font-size: 30px;
  }

  #picture-info {
    display: block;
    position: absolute;
    max-width: 35%;
    top: 30%;
    left: 5%;
    background-color: rgba(53, 51, 51, 0.507);
  }

  #picture-info h2 {
    color: orange;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #picture-info p {
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: wrap;
  }

  #picture-info em {
    color: orchid;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
  }